@model Assignment3_n01519420.Models.Teacher
@{
    ViewBag.Title = "Update";
}
<!--For Javascript validation
    Try to implement but can not see error message
    var regex = /^\w+$\i
    if(!regex.test(@Model.TeacherFName)
    {
        ViewBag.Mesage = "Enter first Name";
    }-->
<div>
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update</h2>
    <div>@ViewBag.Mesage</div>
    <form method="POST" action="/Teacher/Update/@Model.TeacherId">
        <div>
            <label for="TeacherFname">Teacher First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFName" />

        </div>
        <div>
            <label for="TeacherLname">Teacher Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLName" />

        </div>
        <div>
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.TEmpNumber" />

        </div>
        <div>
            <label for="hiredate">Hire Date:</label>
            <input type="date" id="hiredate" name="hiredate" value="@Model.HireDate" />

        </div>
        <div>
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" value="@Model.Salary" />

        </div>
        <div>
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>
